body {
  font-family: "Roboto", sans-serif; /*копируем с google fonts*/
  font-size: 14px;
  color: #0a143a; /*цвет текста 0A143A*/
}
.container {
  max-width: 1146px; /* максимальная ширина */
  margin: auto; /*автоматическое выравнивание по середине*/
}

.header {
  /* max-width: 1146px;  максимальная ширина */
  /* margin: auto; автоматическое выравнивание по середине*/
  /* перенесли эти пункты в .container чтобы объединить с контентом сайта */
  padding-top: 30px; /* отступ от верхнего края страницы*/
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.navbar {
  display: flex; /* Делаем гибкий блок, раскладываем горизонтально */
  align-items: center; /*  выравниваем по вертикали по центру, ровно по вертикали*/
  justify-content: space-between; /* разброс элементов по краям*/
  margin-bottom: 24px; /*внешний отступ снизу для поисковой строки */
}

/* меню навигации в шапке */
.navbar-menu {
  margin-right: auto; /* автоматический отступ справа*/
}
.menu {
  list-style: none; /*отключаем точки в списке */
  margin: 0; /*обнуляем отступы*/
  padding-left: 22px; /* внутренний отступ слева - 22 пикселя */
  padding-right: 22px; /* внутренний отступ справа - 22 пикселя */
  display: flex;
}
/* Для всех пунктов меню, кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px; /* отступ справа 14 пикселей*/
}
.menu-link {
  text-decoration: none; /* отключаем подчёркивания ссылок*/
  color: inherit; /* взять текста из body*/
}
.button {
  text-decoration: none; /* отключаем подчёркивания ссылок*/
  display: inline-block; /* нормально воспринимать отступ */
  padding: 10px 15px; /* сверху и снизу 10 пикселей, по краям - 15*/
  /*делаем со всех сторон отступы для кнопок, можно ещё сделать вот так */
  /* padding-top: 10px; */
  /* padding-right: 15px; */
  /* padding-bottom: 10px; */
  /* padding-left: 15px; */
  cursor: pointer; /*При наведении курсора на ссылку, превращает указатель в палец */
}

.button-link {
  color: inherit;
}

.button-primary {
  background: #256eeb; /*фон */
  border-radius: 5px; /*скругление углов */
  color: white; /*цвет текста*/
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px; /*скругление */
  display: flex; /* заполнение */
  padding: 3px; /* отступ */
}
.search-input {
  flex-grow: 1; /* растяжение элемента на всю строку*/
  background: #ffffff;
  border-radius: 5px;
  border: none; /* отключаем серую обводку*/
  padding-left: 22px; /* отступаем */
  padding-right: 22px;
}

.search-button {
  background: #256eeb;
  border: none; /* отключаем серую обводку*/
  color: #ffffff;
  padding-left: 20px; /*оступ */
  padding-right: 17px; /*17 пикселей потому что мы уже отступали в search panel */
  display: flex; /* задаём гибкость, чтобы наша иконка поиска была центрально с текстом*/
  align-items: center;
  cursor: pointer;
}

.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid; /*Делим контент на кусочки, создаем потому что у нас 12 колонок, колонки из figma*/
  grid-template-columns: 9fr 3fr; /* делим на 2 колонки контента*/
  grid-column-gap: 30px; /*делаем пространство между колонками*/
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover; /*на случай если картинка не может иметь нужные нам размеры*/
}
.cards {
  display: flex; /*Создаём гибкость для блока с карточками, чтобы они встали в ряд*/
  flex-wrap: wrap; /* Если карточка не помещается, то она переходит на другую строку*/
  /*justify-content: space-between; Чтобы наши карточки соблюдали между собой расстояние*/
  /* отключили этот параметр чтобы 2 карточки не расходились по краям экрана */
}
.card {
  margin-bottom: 20px; /*у каждой карточки есть отступ снизу*/
}
/* Делаем так, чтобы у последней карточки не было отступа в 20 пикселей */
/* с этим сайт уже не так хорошо адаптируется */
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
  max-width: 230px;
}
.card-header {
  /*чтобы кнопка лайка была в ряд с текстом и не вплотную к нему */
  display: flex;
  justify-content: space-between;
  align-items: center; /*чтобы кнопка была по середине с текстом*/
}

.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px; /*отступ от текста до кнопки лайка*/
}
.card-link {
  text-decoration: none;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  color: #0a143a;
  margin-bottom: 10px;
  display: block; /*должен быть блочным чтобы для него сработали эти отступы*/
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
  color: #0a143a;
}

.service {
  margin-bottom: 25px;
}
.service-title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
  max-width: 231px;
}
.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 14px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
.main-single {
  display: flex;
  align-items: flex-start;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}
.swiper-container {
  width: 100%;
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  /* height: 100%; */
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  max-width: 460px;
  max-height: 357px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.content-text {
  font-size: 14px;
  line-height: 100%;
  color: inherit;
}
.single-price {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
  display: block;
}
.page-title {
  margin-top: 0;
  margin-bottom: 25px;
}
.author {
  min-width: 264px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 25px;
  margin-bottom: 30px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}
.rating {
  margin-bottom: 5px;
}
.rating-counter {
  color: #0a143a;
  opacity: 0.5;
}
.author-status {
  font-size: 12px;
  line-height: 14px;
}

.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-success {
  background-color: #14b4be;
  color: #fff;
  border-radius: 5px;
}
